[Unit]
Description=DaffyChat Signaling Server
Documentation=https://github.com/Chubek/DaffyChat
After=network-online.target daffydmd.service
Wants=network-online.target
Requires=daffydmd.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/daffy-signaling --config /etc/daffychat/daffychat.json
Restart=on-failure
RestartSec=3s
WorkingDirectory=/var/lib/daffychat
StandardOutput=journal
StandardError=journal
SyslogIdentifier=daffy-signaling

[Install]
WantedBy=multi-user.target
