[Unit]
Description=DaffyChat Daemon Manager
Documentation=https://github.com/Chubek/DaffyChat
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/daffydmd --config /etc/daffychat/daffychat.json
Restart=on-failure
RestartSec=2s
WorkingDirectory=/var/lib/daffychat
StandardOutput=journal
StandardError=journal
SyslogIdentifier=daffydmd

[Install]
WantedBy=multi-user.target
