[Unit]
Description=DaffyChat Backend Server
Documentation=https://github.com/Chubek/DaffyChat
After=network-online.target daffydmd.service
Wants=network-online.target
Requires=daffydmd.service

[Service]
Type=simple
User=root
Group=root
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/bin/env daffy-backend --serve --config /etc/daffychat/daffychat.json
Restart=on-failure
RestartSec=3s
WorkingDirectory=/var/lib/daffychat
StandardOutput=journal
StandardError=journal
SyslogIdentifier=daffy-backend

[Install]
WantedBy=multi-user.target
